body {
    /* display: flex;
    flex-wrap: wrap; */
}

.container  {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    /* height: 200px;
    width: 200px; */
}

button {
    margin: 5em;
}

.box {
    display: flex;
    height: 100px;
    width: 100px;
    background: black;
    border: solid hotpink;
    color: white;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

#boxCount {
    color: white;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}
    



